
<div class="slides">
<%  Slide.all.each do |slide| %>
  <%= link_to slide.link do %>
  <div class="slide">
      <%= cl_image_tag slide.photo.key, class: "slide_image", alt: slide.title, crop: "fill", gravity: "auto" %>

    <div class="slide-text">
      <h2><%= slide.title %></h2>
      <h4><%= slide.subtitle %></h4>
    </div>
  </div>
  <% end %>
<% end %>
</div>
