// Specific CSS for your home-page
.slick-dots{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

@media only screen and (max-width: 600px) {
	.slide {
		width: 100%;
		height: 30rem;
	}
	img.slide_image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.slide-text {
		max-width: 90% !important;
		left: 5%;
	}
}
