<footer class="footer">
  <div class="social">
    <a href="https://www.facebook.com/DiegoFischerAutor" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/diegofischer14/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.planetadelibros.com.uy/autor/diego-fischer/000054838" target="_blank"><i class="fas fa-book-open"></i></a>
    <a href="https://www.goodreads.com/author/show/2993049.Diego_Fischer" target="_blank"><i class="fab fa-goodreads-g"></i></a>
    <a href="https://www.amazon.es/Diego-Fischer/e/B001JOBMTE" target="_blank"><i class="fa-brands fa-amazon"></i></a>
    <%= link_to new_contact_path do %>
      <i class="far fa-envelope"></i></a>
    <% end %>
  </div>
  <div class="data"> <a href="mailto:info@diegofischer.com.uy" target="_blank">info@diegofischer.com.uy</a></div>
  <div class="data">
    © Copyright 2021 - <%= Time.zone.now.year %> Diego Fischer - Todos los derechos reservados.

    <%= link_to privacy_policy_path do %>
      Política de Privacidad
    <% end %>
  </div>
</footer>
