<header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="/" class="brand">
          <div class="name">DIEGO</div>
          <div class="surname">FISCHER</div>
        </a>
        <nav class="nav">

          <i class="fa fa-bars nav__toggle" aria-hidden="true" style="color: white; font-size: 1.5rem; padding-right: 20px;"></i>

          <ul class="nav__wrapper">
            <li class="nav__item">
              <%= link_to biografia_path do %>
                Biografía
              <% end %>
            <li class="nav__item">
              <%= link_to books_path do %>
                Libros
              <% end %>
            </li>
            <li class="nav__item">
              <%= link_to projects_path do %>
                Otros Proyectos
              <% end %>
            </li>
            <li class="nav__item"><a href="#">Noticias</a></li>
            <li class="nav__item"><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </div>
    </header>
