<h2 class="title">Biografía</h2>

  <%= image_tag "Diego Fischer.jpg", alt: "Diego Fischer", class: "bio-cover", width: 432, height: 498, crop: "scale" %>

  <div class="body-bio">
    <p><strong>Diego Fischer</strong> nació en Montevideo. Cursó estudios de Periodismo en la Universidad de Navarra (España) y en la Universidad de Boston.</p>

    <p>Desde 1980 ha trabajado en prensa, radio y televisión. Fue corresponsal en Uruguay de la agencia de noticias norteamericana United Press International (UPI) y colaborador del diario <i>La Nación</i> de Buenos Aires.</p>

    <p>Hace casi una década, es el autor más leído en Uruguay, país que junto a Argentina tiene la mayor cantidad de lectores per cápita de toda América. Su capital, Montevideo - en proporción- cuenta con la misma cantidad de librerías que París.</p>

    <p>Fischer ha recibido en seis oportunidades el Libro de Oro, galardón que otorga la Cámara Uruguaya del Libro a los libros más vendidos cada año.</p>

    <p>Sus libros se sustentan en profundas investigaciones periodísticas y abordan a personajes y hechos históricos desde una mirada diferente. Esto ha provocado que varias de sus obras, contradiciendo a los libros de Historia, hayan desmitificado mitos sin destruirlos y demostrado que los hechos del pasado no fueron como se contaron.</p>

    <p>Ha publicado 20 libros, entre los que se destacan <i>Al encuentro de las Tres Marías. Juana de Ibarbourou más allá del mito </i> (2008, declarado libro de oro por la Cámara Uruguaya del Libro y uno de los cinco libros de no ficción más vendidos en los últimos 25 años en el Uruguay). En 2010 publicó <i>Qué tupé. Batlle-Beltrán. ¿Duelo o asesinato?</i>; en 2011, <i>Hasta donde me lleve la vida</i>, biografía novelada de Carlos Páez Vilaró; en 2012, <i>A mí me aplauden</i>, biografía de China Zorrilla, y en 2013, <i>Serás mía o de nadie. La verdadera muerte de Delmira Agustini</i> (libro de oro 2014). En 2014, <i>Tres hombres y una batalla</i>; en 2015 <i>Carlota Ferreira. Retrato de una mujer que se inventó</i> (libro de oro 2016), en 2016 <i>Mejor Callar. Escándalo y silencio de los crímenes del Prado</i> y en 2017 <i>El sentir de las violetas. El eterno noviazgo de Julio Herrera y Elvira Reyes.</i> (libro de oro 2018). En 2018 <i>Doña Cándida Saravia. El remanso de Aparicio</i> (libro de oro 2019). En 2019 <i>El robo de la historia. La trama desconocida de las Libras de Mailhos</i> (libro de oro 2020) y en 2020 <i>Cuando todo pase</i> (libro de oro 2021).</p>

    <p>Fue productor, director y guionista de doce documentales, entre ellos, <i>Cien años Punta del Este-Al este de la historia</i> (2007), <i>Historias, relatos y sueños</i> (2011) y <i>Algo interesante que contar</i> (2014) sobre la Azotea de Haedo y por encargo del Banco de la República. En 2016, fue curador de la muestra <i>La Comedia de China, homenaje a China Zorrilla</i> impulsado por el Ministerio de Educación y Cultura y el Teatro Solís.  En 2019, dirigió el homenaje a China Zorrilla que organizó la Embajada uruguaya en Buenos Aires, celebrado en el Teatro Cervantes y en el que participaron destacadas personalidades del ambiente artístico rioplatense. Es autor de cuatro obras de teatro estrenadas. Columnista del diario <i>El País</i> de Uruguay, dirigió y condujo durante cuatro temporadas consecutivas el periodístico televisivo <i>Los Notables</i>.</p>
  </div>
