<h1>Nuevo contacto desde sitio web </h1>
<p>Información:</p>
<br />
<ul>
  <li><b>Nombre:</b><span><%= @contact.name %></span></li>
  <li><b>Email:</b><a href="mailto:<%= @contact.email %>"><%= @contact.email %></a></li>
  <li><b>Mensaje:</b><span><%= @contact.message %></span></li>
</ul>
<br />
<br />
