body {
  margin-top: 150px;
}

.main {
  max-width: 1000px;
  margin: auto;
  min-height: 1000px;
}

.input-wrapper {
  max-width: 80%;
  margin: auto;
}

.admin-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
}

.admin:hover {
  color: #001233;
}

p, label, ol, ul, li {
  color: white;
  text-align: justify;
}

.end{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.trix-content {
  color: white;
  ul, li {
  list-style-type: disc;
  margin-block-start: 0;
  padding-inline-start: 0;
  text-align: justify;
  }
}

form {
  margin: auto;
  width: 80%;
}

textarea {
  height: 15rem!important;
}
