.list{
  margin: auto;
  width: fit-content;
}


.project_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid white;
  margin: 2rem;

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 10px;
    width: 300px;
  }
}

.project_image img {
  border-radius: 15px;
  border: 1px solid white;
  @media (max-width: 600px) {
    width: 275px;
    height: auto;
    margin-bottom: 20px;
  }
}

.project_text {
  margin-left: 4rem;
  color: white;
  transition: all 1s ease-out;


    @media (max-width: 600px) {
    margin-left: 0rem;
    text-align: center;
    margin-top: 10px;

    > .project_line {
      display: none;
    }
  }

  > h3, h4, h5 {
    color: inherit;
  }

  > .project_title {
    > h3 {
    color: white;
    transition: all 1s ease-out;
    }
  }

  > .project_line {
    border-bottom: 5px solid white;
    width: 10rem;
    margin-bottom: 1rem;
    transition: all 1s ease-out;
  }

  &:hover{
    color: #979DAC;
    > .project_line {
      width: 15rem;
      border-bottom: 5px solid #979DAC;
    }

    .project_title {
      > h3 {
      color: #979DAC!important;
      }
    }
  }
}

.show-title-project {
  text-align: center;
}


.project_img {
  margin: 10px 0px;
  border-radius: 15px;
  border: 1px solid white;
  @media (max-width: 600px) {
    width: 400px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    max-width: 90%;
    object-fit: cover;
  }
}

.project_container > .fa-signature {
  color: white;
  font-size: 5rem;
}
